/* BigCollabs.css */
.bigCollabs__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #F2E5D0;
  background: linear-gradient(0deg, rgba(242, 229, 208, 1) 0%, rgba(218, 188, 164, 1) 100%);
  padding: 20px;
}


.bigCollabs__content h2{
  font-family: "Broadsheet Regular";
  font-weight: 100;
  font-size: 90px;
}
