.coach-selector {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: Arial, sans-serif;
  min-height: 100vh;


}

.coach-selector::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: inherit;
  clip-path: circle(0% at 50% 30%);
  transition: clip-path 0.5s ease;
}

.coach-selector--animate::before {
  clip-path: circle(150% at 50% 30%);
}

.header-coaches {
  background-color: #BEAA88;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  height: 150px;
  width: 300px;
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  border-bottom: 3px solid black;
  font-family: "Broadsheet Regular";
  z-index: 1;
}

.coach-selector__inner{
  padding-bottom: 100px;
}

.coach-selector__title {
  position: relative;
  z-index: 2;
  margin: 0;
  color: #F2E2C6;
  letter-spacing: 2px;
  font-size: 50px !important;
  display: inline-block;
}

.coach-selector__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  z-index: 1;
}

.coach-selector__image-container {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  opacity: 1;
  transition: opacity 0.5s ease; /* Aumentamos la duración para una transición más suave */
  position: relative;
  z-index: 1;
}

@media(max-width:510px){
  .coach-selector__image-container {
  width: 400px;
  height: 400px;

}
}

@media(max-width:402px){
  .coach-selector__image-container {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  opacity: 1;
  transition: opacity 0.5s ease; /* Aumentamos la duración para una transición más suave */
  position: relative;
  z-index: 1;
}
}

@media(max-width:350px){
  .coach-selector__image-container {
  width: 320px;
  height: 320px;
  
}
}

.coach-selector__image-container--fade-out {
  opacity: 0;
}

.coach-selector__image-container--fade-in {
  opacity: 1;
  animation: fadeIn 0.5s ease forwards;
}

.coach-selector__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(1px 1px 2px #3C92A6);
  animation: shadowMove 4s infinite linear;
}
/* Definición de la animación */
@keyframes shadowMove {
  0% {
    filter: drop-shadow(1px 2px 4px #3C92A6); /* Posición inicial */
  }
  25% {
    filter: drop-shadow(-1px 2px 4px #3C92A6); /* Mueve hacia la izquierda */
  }
  50% {
    filter: drop-shadow(-1px -2px 4px #3C92A6); /* Mueve hacia arriba */
  }
  75% {
    filter: drop-shadow(1px -2px 4px #3C92A6); /* Mueve hacia la derecha */
  }
  100% {
    filter: drop-shadow(1px 2px 4px #3C92A6); /* Vuelve a la posición inicial */
  }
}

.coach-selector__name-container {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease;
  z-index: 2;
  margin-top: -30px;
}

.coach-selector__name-container--fade-out {
  opacity: 0;
}

.coach-selector__name-container--fade-in {
  opacity: 1;
  animation: fadeIn 0.5s ease forwards;
}

.coach-selector__name {
  margin-bottom: -10px;
  font-size: 3rem;
  font-family: "Broadsheet Regular";
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.coach-selector__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  z-index: 1;
}


.coach-selector__button {
  width: 60px; /* Tamaño fijo para el botón */
  height: 60px; /* Tamaño fijo para el botón */
  padding: 0; /* Eliminamos padding para centrar la imagen */
  border: 1px solid #00000000;
   

 background-color: #9F9668;
  border-radius: 10px;
  background-size: 340px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  overflow: hidden; /* Evita que la imagen desborde */
}

.coach-selector__button img {
  width: 50px; /* Tamaño de la imagen, más grande que antes */
  height: auto;
  object-fit: contain;
  filter: drop-shadow(1px 0px 3px #9F9668);
}

.coach-selector__button:hover {
  background-color: #f0e6ba;
}

.coach-selector__button--active {
  background-color: #f0e6ba;
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 405px) {
 .coach-selector__name-container {
 width: 300px;
}




}

@media(max-width:340px){
  .header-coaches{
    width: 250px;
  }
}

