
.dateContent__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  opacity: 0;
  max-width: 100%;
  overflow: hidden;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  background-color: #f2e2c6;
  background-color: #9B956A;
  background-image: url('https://res.cloudinary.com/dc5zbh38m/image/upload/v1745983033/Textura_iconos_oso3to.png');
  background-size: 1900px;
}

@media(max-width:472px){
 .dateContent__content.is-visible img {
top: -100px;
}
.dateContent-bg {
margin-top: -70px
}

.animated-button {
top: 540px !important;

}

.retreat__logo{
  display: none;
}


}

.dateContent__content.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.dateContent__imgs {
  margin-left: 100px;
}

.dateContent img {
  position: relative;
  right: 30px;
}

.dateContent {
  position: relative;
  max-width: 440px;
  color: #333333;
  left: 150px;
  top: 200px;
  font-family: 'CalSans';
  text-align: center;
  border-radius: 5px;
}

.dateContent__description {
  position: absolute;
  top: 200px;
  left: 0px;
  width: 450px;
  text-align: left;
  font-size: 23px;
  color: #f2e2c6;
  font-weight: normal;
}


.dateContent__button {
  position: absolute;
  font-size: 22px;
  font-family: 'CalSans';
  font-weight: normal;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255) !important;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 9px 30px;
  transition: 1080ms;
  width: 200px;
  box-shadow: 1px 2px 6px rgb(0, 0, 0);
  border-radius: 5px;
  background: linear-gradient(183deg, rgb(236, 230, 189) 0%, rgb(218, 188, 164) 100%);
  font-weight: 100;
  --hover-bgc: #dabca4;
  --hover-color: #ece6bd;
  --hover-borderSize: 0px;
  --hover-width: 245px;
}

.animated-button {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  top: 500px;
  left: 100px;
  margin-top: 20px;
  color: #FEFEFE;
  box-shadow: 0 0 0 2px #F2E2C6;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);

}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #FEFEFE;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
  color: white;
}

.animated-button .arr-2 {
  left: -25%;
  color: white;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #EACAB1;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: white !important;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
  color: white;
}

.animated-button:hover .arr-2 {
  left: 16px;
  color: white;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #fd8a26;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.dateContent__button:hover {
  color: rgb(236, 230, 189);
  width: 245px;
  background: rgb(218, 188, 164) none repeat scroll 0% 0% / auto padding-box border-box;
  border-width: 0px;
  border-style: solid;
}

.image__one,
.image__two,
.image__three,
.image__four {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-visible {
  opacity: 1;
}

.image__four img {
  position: absolute;
  left: 180px;
  bottom: 180px;
  border-radius: 3px;
  z-index: -333;
}

.image__one img {
  position: relative;
  border-radius: 3px;
  bottom: 100px;
  right: 80px;
}

.image__two img {
  position: relative;
  right: 80px;
  bottom: 140px;
  border-radius: 3px;
}

.image-visible {
  position: relative;
  top: 100px;
}

.dateContent-bg {
  display: flex;
  justify-content: center;
}

.retreat__logo {
  position: absolute;
}

.retreat__logo img {
  position: relative;
  top: 270px;
  opacity: 0.4;
}

@media(max-width:1920px) {
  .dateContent {
    margin-left: -230px;
  }
  .dateContent button {
    margin-left: -50px;
  }
}

@media(max-width:1620px) {
  .dateContent {
    margin-left: -80px;
    margin-top: -50px;
  }
  .dateContent button {
    margin-left: 0px;
  }
}

@media(max-width:1351px) {
  .dateContent__content {
    background-size: 1600px;
  }
  .image__four img {
    position: absolute;
    left: 140px;
    bottom: 170px;
    border-radius: 3px;
    width: 380px;
    height: 630px;
    z-index: -333;
  }
  .image__one img {
    position: relative;
    border-radius: 3px;
    bottom: 100px;
    width: 258px;
    height: 355px;
    right: 80px;
  }
  .image__two img {
    position: relative;
    right: 80px;
    bottom: 140px;
    border-radius: 3px;
    width: 258px;
    height: 355px;
  }
  .dateContent__description {
    right: 20px;
    max-width: 400px;
    font-size: 20px;
  }
  .dateContent img {
    right: 50px;
  }
  .dateContent {
    right: 50px;
    width: 300px;
  }
  .animated-button {
    top: 460px;
    left: 30px;
  }
  .dateContent-bg {
    margin-right: 100px;
  }
}

@media(max-width:1200px) {
  .dateContent__content {
    background-size: 1370px;
  }
  .image__four img {
    position: absolute;
    left: 140px;
    bottom: 170px;
    border-radius: 3px;
    width: 380px;
    height: 630px;
    z-index: -333;
  }
  .image__one img {
    position: relative;
    border-radius: 3px;
    bottom: 100px;
    width: 258px;
    height: 355px;
    right: 80px;
  }
  .image__two img {
    position: relative;
    right: 80px;
    bottom: 140px;
    border-radius: 3px;
    width: 258px;
    height: 355px;
  }
  .dateContent__description {
    right: 20px;
    max-width: 400px;
    font-size: 20px;
  }
  .dateContent img {
    right: 50px;
  }
  .dateContent {
    right: 50px;
    width: 300px;
  }
  .animated-button {
    top: 460px;
    left: 30px;
  }
  .dateContent-bg {
    margin-right: 100px;
  }
}

@media(max-width:1000px) {
  .dateContent__content {
    background-size: 1370px;
  }
  .image__four img {
    position: absolute;
    left: 100px;
    bottom: 170px;
    border-radius: 3px;
    width: 330px;
    height: 530px;
    z-index: -333;
  }
  .image__one img {
    position: relative;
    border-radius: 3px;
    bottom: 100px;
    width: 208px;
    height: 305px;
    right: 80px;
  }
  .image__two img {
    position: relative;
    right: 80px;
    bottom: 140px;
    border-radius: 3px;
    width: 208px;
    height: 305px;
  }
  .dateContent__description {
    right: 20px;
    max-width: 400px;
    font-size: 20px;
  }
  .dateContent img {
    right: 50px;
    width: 340px;
    height: 180px;
  }
  .dateContent {
    top: 100px;
  }
  .animated-button {
    top: 460px;
    left: 30px;
  }
  .dateContent-bg {
    margin-right: 100px;
  }
  .dateContent__content {
    background-size: 1200px;
  }
}

@media(max-width:900px) {
  .dateContent__content {
    background-size: 1200px;
  }
  .image__four img {
    position: absolute;
    left: 100px;
    bottom: 160px;
    border-radius: 3px;
    width: 300px;
    height: 500px;
    z-index: -333;
  }
  .image__one img {
    position: relative;
    border-radius: 3px;
    bottom: 100px;
    width: 208px;
    height: 280px;
    right: 80px;
  }
  .image__two img {
    position: relative;
    right: 80px;
    bottom: 140px;
    border-radius: 3px;
    width: 208px;
    height: 280px;
  }
  .dateContent {
    margin-left: -50px;
  }
}

@media(max-width:877px) {
  .dateContent__content {
    background-size: 1100px;
  }
  .image__four img {
    position: absolute;
    left: 100px;
    bottom: 160px;
    border-radius: 3px;
    width: 300px;
    height: 500px;
    z-index: -333;
  }
  .image__one img {
    position: relative;
    border-radius: 3px;
    bottom: 100px;
    width: 208px;
    height: 280px;
    right: 80px;
  }
  .image__two img {
    position: relative;
    right: 80px;
    bottom: 140px;
    border-radius: 3px;
    width: 208px;
    height: 280px;
  }
  .dateContent {
    margin-left: 50px;
  }
}

@media(max-width:820px) {
  .dateContent__content {
    background-size: cover;
    background-position-x: -80px;
   
  }
  .image__four img {
    position: absolute;
    left: 10px;
    bottom: 160px;
    border-radius: 3px;
    width: 350px;
    height: 500px;
    z-index: -333;
  }
  .image__one img {
    position: relative;
    border-radius: 3px;
    bottom: 100px;
    width: 208px;
    height: 280px;
    right: 80px;
  }
  .image__two img {
    position: relative;
    right: 80px;
    bottom: 140px;
    border-radius: 3px;
    width: 208px;
    height: 280px;
  }
  .dateContent p{
   width: 300px;
  }
}

@media(max-width:800px) {
  .image__four img {
    position: absolute;
    left: 40px;
    bottom: 160px;
    border-radius: 3px;
    width: 300px;
    height: 500px;
    z-index: -333;
  }

  .dateContent p{
    width: 250px;
   }

   .dateContent img{
    width: 300px;
   }

   .dateContent button{
   margin-top: 50px;
   }


  .image__one img {
    position: relative;
    border-radius: 3px;
    bottom: 100px;
    width: 208px;
    height: 280px;
    right: 80px;
  }
  .image__two img {
    position: relative;
    right: 80px;
    bottom: 140px;
    border-radius: 3px;
    width: 208px;
    height: 280px;
  }
  .dateContent__content {
    background-size: cover;
    background-position: -70px;
  }
  .dateContent {
    margin-left: -100px;
  }
  .animated-button {
    top: 434px;
  }
}

@media(max-width:720px) {
  .image__four img {
    position: relative;
    left: -50px;
    bottom: 120px;
    border-radius: 3px;
    width: 320px;
    height: 500px;
    z-index: -333;
  }
  .image__one img {
    display: none;
  }
  .image__two img {
    display: none;
  }
  .dateContent__content {
    background-size: cover;
    background-position: -70px;
  }
  .dateContent {
    left: 90px;
    margin-top: -100px;
  }
  .dateContent p{
    
    margin-top: -10px;
  }

  .animated-button {
    top: 400px;
    left: 10px;
  }
}

@media(max-width:1244px) {
.dateContent{
  margin-left: -100px;
}
}

@media(max-width:1170px) {

  .dateContent{
    margin-left: -150px;
    
  }
  .dateContent__imgs{
    width: 400px;
  }
  }
  

  
@media(max-width:1072px) {

  .dateContent{
    margin-left: -170px;
    
  }

  .dateContent__imgs{
    width: 400px;
  }
  }
  

@media(max-width:660px) {
  .dateContent__content {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 200px;
    padding-top: 100px;
  }
  .dateContent__content {
    height: 570px;
  }
  .dateContent img {
    bottom: 120px;
    left: 40px;
  }
  .animated-button {
    top: 140px;
  }
  .dateContent__description{
display: none;
  }

  .animated-button{
    top: 60px;
    left: 90px;
    margin-top: -300px;
  }
  
  
  .dateContent__imgs img {
    width: 350px;
    margin-left: 20px;
    border-radius: 5px;
  }
  .dateContent__content {
    background-size: cover;
    background-position: 0px;
  }
}

@media (min-width: 501px) {
  .small-screen-only {
    display: none;
  }
}

@media (max-width: 500px) {
  .dateContent__imgs {
    width: 350px;
    height: 500px;
    position: relative;
    padding-bottom:60px;
    margin-left: 0px;
  }

  .dateContent__content {
    padding-bottom: 600px;
    
  }

  .dateContent__description {
    display: block;
    width: 300px !important;
    color: #ffffff;
    margin-top: -25px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-left: 65px;
  }

  .image__four {
    width: 350px;
    height: 500px;
    position: relative;
    left: -20px;
    margin-top: -100px;
  }

  .image__four img {
    position: absolute;
    width: 350px;
    height: 500px;
    border-radius: 5px;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
  }

  .image__four img:nth-child(1) {
    opacity: 1;
    animation: fadeFirst 15s infinite ease-in-out;
  }

  .image__four img:nth-child(2) {
    opacity: 0;
    animation: fadeSecond 15s infinite ease-in-out;
  }

  .image__four img:nth-child(3) {
    opacity: 0;
    animation: fadeThird 15s infinite ease-in-out;
  }

  .dateContent img {
    margin-top: 100px;
  }

  .text {
    font-family: "CalSans";
  }

  .dateContent button {
    top: 400px;
    margin-left: -10px;
    margin-bottom:0px;
  }

  @keyframes fadeFirst {
    0% {
      opacity: 1;
    }
    22% {
      opacity: 1;
    }
    33% {
      opacity: 0;
    }
    88% {
      opacity: 0;
    }
    89% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeSecond {
    0% {
      opacity: 0;
    }
    22% {
      opacity: 0;
    }
    33% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fadeThird {
    0% {
      opacity: 0;
    }
    55% {
      opacity: 0;
    }
    66% {
      opacity: 1;
    }
    88% {
      opacity: 1;
    }
    89% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}

@media (max-width: 390px) {
  .dateContent__imgs {
    width: 330px;
    height: 490px;
    position: relative;
  }

  .image__four {
    width: 330px;
    height: 490px;
    position: relative;
    left: -40px;
    margin-top: -100px;
  }

  .image__four img {
    position: absolute;
    width: 350px;
    height: 500px;
    border-radius: 5px;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
  }

  .image__four img:first-child {
    opacity: 1;
    animation: fadeFirst 10s infinite ease-in-out;
  }

  .image__four img:nth-child(2) {
    opacity: 0;
    animation: fadeSecond 10s infinite ease-in-out;
  }

  .image__four img:nth-child(3) {
    opacity: 0;
    animation: fadeThird 10s infinite ease-in-out;
  }

  .dateContent img {
    margin-top: 30px;
  }

  .text {
    font-family: "CalSans";
  }

  .dateContent button {
    margin-top: 30px;
  }
}


@media (max-width: 384px) {

 
  .dateContent__imgs {
    width: 300px !important;
    height: 470px !important;
    position: relative;
    margin-right: -35px;
 
  }

  .dateContent__imgage{
    top: -60px;
    width: 400px;
  }
  .image__four img {
    width: 300px !important;
    height: 470px !important;
  }
}
