.video-w-logo {
  margin: 100px auto;
  overflow: hidden;
  font-family: "BroadSheet Regular";
  background-color: #9F9668;
  margin-bottom: 6px;
}

.video-w-logo__container {
  display: flex;
  width: 100%;
  position: relative;
  height: 400px;
}
.video-w-logo__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* capa negra transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.8s ease-in-out;
  z-index: 10;
}



.video-w-logo__logo {
  width: 180px;
  max-width: 80%;
  height: auto;
}


.video-w-logo__video-section {
  width: 75%;

  background-image: url("https://res.cloudinary.com/dc5zbh38m/image/upload/v1747102635/LIFESTYLE-EC-AGO2021-068_whro8a.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-w-logo__text-section {
  width: 430px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video-w-logo__title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  z-index: 10;
  white-space: nowrap;
}


.video-w-logo__title-yellow {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  white-space: nowrap;
}

.video-w-logo__title-yellow--visible {
  opacity: 1;
}

.video-w-logo__video-placeholder {
  font-size: 2rem;
  color: #fff;
  opacity: 0.7;
}

.video-w-logo__text {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  margin-top: 60px;
}

.video-w-logo__text--visible {
  opacity: 1;
  transform: translateY(0);
  font-size: 20px !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .video-w-logo__title-yellow {
    top: 20%;
  }

  .video-w-logo__text {
    margin-top: 80px;
  }
}

@media (max-width: 700px) {
  .video-w-logo__video-section {
    display: none;
  }

  .video-w-logo__container {
    height: auto; /* Ajusta la altura para adaptarse al video */
    justify-content: center; /* Centra el contenido */
  }

  .video-w-logo__text-section {
    width: 100%; /* Ocupa todo el ancho */
    max-width: 100%; /* Evita desbordes */
    margin: 0 auto; /* Centra el contenedor */
    padding: 0; /* Elimina cualquier padding innecesario */
  }

  .video-w-logo__text-section video {
    width: 100% !important; /* Forza el ancho completo */
    max-width: 600px; /* Limita el tama침o m치ximo en pantallas peque침as */
    height: auto; /* Mantiene la proporci칩n */
    display: block; /* Asegura que el video sea un bloque */
    margin: 0 auto; /* Centra el video */
  }
}