.whyool-container {
    position: relative;
    min-height: 530px;
  
    overflow: hidden;
    background-color: #e7ac33;
    padding: 20px;
    padding-top: 50px;
  }
  
  .content {
    display: flex;
    z-index: 10;
    top: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin-top: -30px;

  }

  .content h1{
    padding-top: 0px;
    font-size: 90px;
    font-family: "Broadsheet Regular";
    text-shadow: 1px 1px 1px black;
}

  .content p{
    padding-top: 0px;
    font-family: "CalSans";
    font-size: 35px;

    text-align: center;
    width: 540px;
 

  }
  



 


  @media(max-width:510px){
    .content{
      display: flex !important;
      flex-direction: column !important;
    }
  }


  @media(max-width:650px){
    .content h1{
     font-size: 70px;
    }
    .content p{
      font-size: 30px;
      max-width: 450px;
     }


  }
  

  @media(max-width:484px){
    .whyool-container{
      padding-top: 0px !important;
    }
    .content h1{
      font-size: 56px;
     }

     .content p{
      font-size: 26px;
     }
  }


  @media(max-width:446px){
    
     .content p{
      font-size: 22px;
     }
  }

  @media(max-width:393px){
    .whyool-contain{
      padding: 0px;
  

    }
    .content h1{
      font-size: 50px;
     }
    .content p{
     font-size: 20px;
    }
 }

 @media(max-width:345px){
  .content h1{
    font-size: 45px;
   }
  .content p{
   font-size: 20px;
  }
}

